- page_title s_('FeatureFlags|Feature Flags')

#feature-flags-vue{ data: { endpoint: project_feature_flags_path(@project, format: :json),
  "error-state-svg-path" => image_path('illustrations/feature_flag.svg'),
  "feature-flags-help-page-path" => help_page_path("user/project/operations/feature_flags"),
  "feature-flags-anchored-help-page-path" => help_page_path("user/project/operations/feature_flags", anchor: "client-libraries"),
  "unleash-api-url" => (unleash_api_url(@project) if can?(current_user, :admin_feature_flag, @project)),
  "unleash-api-instance-id" => (unleash_api_instance_id(@project) if can?(current_user, :admin_feature_flag, @project)),
  "can-user-admin-feature-flag" => can?(current_user, :admin_feature_flag, @project),
  "new-feature-flag-path" => can?(current_user, :create_feature_flag, @project) ? new_project_feature_flag_path(@project): nil } }
